@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	height: 100%;
	position: relative;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

a {
	color: #fff;
	text-decoration: none; 
}

.navbar {
	width: 100%;
	padding-top: 0px;
	color: #D5D3D3;
	background-color: cadetblue;		 ;
	cursor: pointer;
	display: inline-block;
}
.navbar:active {
	background-color: #090909; 
}
.navbar nav
{
    display:block;
    margin:0;
    padding:20px 0; 
    padding-left: 10px;
    color:#C0BAB6; 
    background-color:midnightblue; 
    clear:both;
}
.navbar nav ul
{
    padding:0 20px;
}
.navbar nav li
{
    display:inline; 
    margin-right:25px; 
    text-transform:uppercase;
}
.navbar nav ul li:last-child {
    float: right;
}


.navbar nav li a
{
    font-size: 20px;
}
.navbar nav li a:hover
{
    color:whitesmoke; 
    background-color:purple;
}


.header {
	height: 80px;
	width: 100%;
	background-color: #274C6B;
	display: inline-block;
    align-items: center;
}

.header .logo {
	opacity: 0.9;
	font-size: 120%;
	padding-top: 9px;
	padding-left: 8px;
	color: #fff;
    align-items: center;
}
.header .logo span {
	font-weight: 300;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.sidebar {
	width: 250px;
	background-color:purple;
	position: absolute;
	top: 0%;
	left: 0;
	bottom: 0;
	box-shadow: 1px 0px 10px #777;
}

.sidebar nav > a {
	font-size: 150%;
	display: inline-block;
	padding: 30px 0px;
	padding-left: 30px;
	opacity: 0.7;
	transition: all 0.2s;
}
.sidebar nav > a:hover {
	opacity: 1;
}

.sidebar nav a span {
	font-weight: 300;
}

.sidebar nav ul {
	list-style: none;
}
.sidebar nav ul ul{
    position: absolute;
    left: 150px;
    top: 188px;
    width: 200px;
    background-color: rgb(110, 3, 110);
    border-radius: 5px;
    color: white;
    box-shadow: violet 2px;
    border-bottom: none;


}
.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }
  .dropdown-btn:hover {
	color: #f1f1f1;
  }
  .dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
  }
  .active {
	background-color: green;
	color: white;
  }
  

.sidebar nav ul li {
	font-size: 70%;
	padding: 19px 0;	
	padding-left: 20px;
	border-bottom: 0.5px solid #fff;
}

.sidebar nav ul li:hover {
	background-color: #274C6B;
}

.sidebar nav ul li:active {
	background-color: #e67e22;
}


.sidebar nav ul li a {
	color: #D7D5D5;
}

.sidebar nav ul li:hover a{
	color: #fff;
}

.main-content {
	background-color: #fafafa;
	width: calc(100% - 250px);
	height: 100%;
	margin-left: 250px;
	padding: 20px 30px;
}
.main-content .panel-wrapper {
	margin: 20px 0;
	box-shadow: 0px 1px 5px #777;
}

.main-content .panel-wrapper .panel-head {
	background-color: #00A5F2;
	color: #fff;
	padding: 10px 10px;
	border: 1px solid #00A5F2;
}
.main-content .panel-wrapper .panel-body {
	padding: 20px 10px;
	font-size: 80%;
}

@media only screen and (max-width: 420px){
	.header {
		display: block;
	}
	.nav-btn {
		display: block;
	}
	.sidebar {
		position: relative;
		height: 378px;
		width: 100%;
		display: none;
		margin-bottom: 40px;
		z-index: 1000;
	}
	.main-content {
		width: 100%;
		margin-left: 0;
		z-index: -1;
		position: relative;
	}
}

@media only screen and (max-width: 768px){
	.header {
		display: block;
	}
	.nav-btn {
		display: block;
	}
	.sidebar {
		position: relative;
		height: 378px;
		width: 100%;
		display: none;
		margin-bottom: 40px;
		z-index: 1000;
	}
	.main-content {
		width: 100%;
		margin-left: 0;
		z-index: -1;
		position: relative;
	}
}